<!-- Template which can dynamically display an article depending on what's pulled from the database -->

<%- include partials/header %>
  <main class="blog-post">
    <article>
      <div class="article-header">
        <h1>Book Review: <%= article[0].title %></h1> <!-- Have to use [0] because Mongoose returns 
                                                           an array with one object in it -->
        <div class="metadata">
          <p>Author</p>
          <p>Published</p>
          
          <!-- I was having trouble pulling out the data in the nested metadata object 
            (it was coming back blank or undefined) and it turns out I forgot to define 
            the values in my model/schema (ref: https://github.com/tj/ejs/issues/215) -->
          <p><%= article[0].metadata.author %></p> 
          <p><%= article[0].metadata.pubDate %></p>
        </div>
      </div>

      <div class="series-info"> 
        <p>Length: <%= article[0].seriesInfo.length %></p>
        <p>Genre: <%= article[0].seriesInfo.genre %></p>
        <p>Publisher: <%- article[0].seriesInfo.publisher %></p>
        <br>

        <% if (article[0].seriesInfo.copyright) { %>
          <p>All images © <%= article[0].seriesInfo.copyright %></p>
        <% } %>
        
      </div>

      <%- article[0].body %>

    </article>
  </main>
<%- include partials/footer %>