<%- include partials/header %>
  <main class="blog">
    <div class="blog-header">
      <h1>Some Old Book Reviews</h1>
      <a href="blog/logout" class="logout">Logout</a>
    </div>
    <section class="blog-card-grid">
      <% articles.forEach(article => { %>
        <div class="blog-item <%= article.slug %>">
          <!-- img src attribute: Storing the img path in the database will work as long as you output it with <%- %> 
               so that EJS does not escape the variable and print it as is -->
          <a href="blog/<%= article.slug %>"><img src=<%- article.coverImgPath %> alt="<%= article.title %>"></a>
          <h4><%= article.title   %></h4>
          <p> <%= article.summary %></p>
          <a href="blog/<%= article.slug %>" class="blue-a">Read More</a>
        </div>
      <% }); %>
    </section>
  </main>
<%- include partials/footer %>