<%- include partials/header %>
  <main class="blog">
    <h1>Some Old Book Reviews</h1>
    <section class="blog-card-grid">
      <% articles.forEach(article => { %>
        <div class="blog-item <%= article.slug %>">
          <!-- img src attribute: Tried storing image path in the database (e.g. "img/blog/cover/img-name.jpg") but it wasn't outputting correctly with EJS so I'm using article.slug to complete the path -->
          <a href="blog/<%= article.slug %>"><img src="img/blog/covers/<%= article.slug %>.jpg" alt="<%= article.title %>"></a>
          <h4><%= article.title   %></h4>
          <p> <%= article.summary %></p>
          <a href="blog/<%= article.slug %>" class="blue-a">Read More</a>
        </div>
      <% }); %>
    </section>
  </main>
<%- include partials/footer %>